<ion-view style="" title="Inicio">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <img style="width: 100%; height: auto;" src="img/iMjIkE6TheJHAOU2Ogs3_GE_logo_bgwhite.png" height="auto" width="100%">
        <form style="" class="list">
            <ion-list style=""></ion-list>
            <label style="" class="item item-input">
                <span class="input-label">Nombre</span>
                <input placeholder="" type="text">
            </label>
            <a style="" class="button button-stable button-block " href="#/page2">Iniciar</a>
        </form>
    </ion-content>
</ion-view>
